{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %} Gryphos Consulting - Servicios {% endblock title %}

{% block body %} class="about-us bg-gray-200" {% endblock body %}

{% block content %}
</div>
</div>


  <header class="bg-gradient-dark">
    </div>
       <div class="page-header min-vh-50" style="background-image: url('{% static 'img/bggryphos-small.jpg' %}');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center mx-auto my-auto">
              <h1 class="text-white">Qué hacemos</h1>
            </div>
          </div>
        </div>
      </div>
  </header>

<div class="card card-body blur shadow-blur mx-4 mt-n6">

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center mb-4">Servicios a la medida</h3>
        <p class="text-justify mb-4">Ofrecemos soluciones a medida, desarrollando sistemas que se ajustan perfectamente a las necesidades y funcionamiento de tu organización. Implementamos sistemas empresariales integrados desde cero, incluyendo portales de control web, tablas de datos y generación de reportes.</br></br>Nuestro compromiso es brindar servicios rápidos y eficientes, personalizando cada solución para cumplir tu visión.</p>
      </div>
      <div class="col-lg-12">
        <div class="p-3 info-horizontal">
          <div class="icon icon-shape bg-gradient-primary shadow-primary text-center">
            <img src="{% static 'img/logos/gray-logos/Icon1.svg' %}" alt="icon1" class="opacity-10" style="width: 105%;">
          </div>
          <div class="description ps-3">
            <p><strong>Automatización de Procesos (RPA)</strong><br>Optimizamos flujos de trabajo y aumentamos la eficiencia operativa mediante soluciones RPA.</p>
          </div>
        </div>

        <div class="p-3 info-horizontal">
          <div class="icon icon-shape bg-gradient-primary shadow-primary text-center">
            <img src="{% static 'img/logos/gray-logos/Icon2.svg' %}" alt="icon2" class="opacity-10" style="width: 105%;">
          </div>
          <div class="description ps-3">
            <p><strong>Sistemas Empresariales Integrados (ERP)</strong><br>Personalización y despliegue de sistemas ERP para una gestión eficiente de recursos empresariales.</p>
          </div>
        </div>
        <div class="p-3 info-horizontal">
          <div class="icon icon-shape bg-gradient-primary shadow-primary text-center">
            <img src="{% static 'img/logos/gray-logos/Icon3.svg' %}" alt="icon3" class="opacity-10" style="width: 105%;">
          </div>
          <div class="description ps-3">
            <p><strong>Enriquecimiento y análisis de datos (BI)</strong><br>Transformamos grandes volúmenes de datos en insights valiosos para la toma de decisiones.</p>
          </div>
        </div>
        <div class="p-3 info-horizontal">
          <div class="icon icon-shape bg-gradient-primary shadow-primary text-center">
            <img src="{% static 'img/logos/gray-logos/Icon4.svg' %}" alt="icon4" class="opacity-10" style="width: 105%;">
          </div>
          <div class="description ps-3">
            <p><strong>Procesamiento de lenguaje natural (NLP)</strong><br>Desarrollamos chatbots y herramientas de NLP para mejorar la interacción con el cliente.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="proyectos-gryphos" class="my-1 py-1">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-6">
        <h2 class="text-dark mb-0">Proyectos Gryphos</h2>
        <p class="lead">Resultados concretos de nuestra consultoría</p>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <!-- Proyecto #1: OfixBOT -->
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4 justify-content-center d-flex flex-column">
            <div class="card border-radius-lg">
              <div class="d-block blur-shadow-image">
                <img src="{% static 'img/Gryphos Warehouse-smol.jpg' %}" alt="OfixBOT" class="img-fluid border-radius-lg" style="width: 100%;">
              </div>
            </div>
          </div>
          <div class="col-lg-8 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">
            <h6 class="category text-info mt-3">Proyecto #1</h6>
            <h3>OfixBOT</h3>
            <p class="text-justify">
              OfixBOT está diseñado específicamente para leer y entender correos electrónicos de clientes de la compañía OfixChile, distribuidora de muebles de oficina. 
              Puede identificar con precisión las solicitudes de cotización, generando respuestas eficientes y exactas en un tiempo récord.</br></br>El sistema tiene una <strong>tasa de 
              éxito del 87%</strong> en encontrar los artículos solicitados por los clientes, lo que significa que casi nueve de cada diez veces, OfixBOT proporciona una cotización 
              completa y precisa. En los casos donde se requiere asistencia humana (el 13% restante), el bot redirige inmediatamente las solicitudes al personal adecuado.</br></br>Además, 
              OfixBOT es capaz de distinguir con <strong>un 100% de precisión</strong> entre las solicitudes de cotización y otros tipos de comunicación, como correcciones en facturaciones o 
              consultas generales. Esto asegura que cada correo electrónico sea tratado de manera apropiada, mejorando significativamente la eficiencia operativa y la satisfacción 
              del cliente en OfixChile.</br></br>El resultado de OfixBOT ofrecer a los clientes una respuesta inmediata, personalizada y precisa para un rubro altamente competitivo, 
              en el que cada minuto que demora una respuesta a una cotización puede significar la pérdida de un potencial cliente. Al mismo tiempo logra liberar el tiempo de los agentes 
              de ventas OfixChile para realizar otras labores.
            </p>
          </div>
        </div>
      </div>
      <!-- Fin de Proyecto #1 -->

      <!-- Proyecto #2: MultiSectorial Fases I y II -->
      <div class="col-lg-12 mt-5">
        <div class="row flex-row-reverse">
          <div class="col-lg-4 justify-content-center d-flex flex-column">
            <div class="card border-radius-lg">
              <div class="blur-shadow-image">
                <img src="{% static 'img/Proyecto Multisectorial-smol.jpg' %}" alt="MultiSectorial Fases I y II" class="img-fluid border-radius-lg"  style="width: 100%;">
              </div>
            </div>
          </div>
          <div class="col-lg-8 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">
            <h6 class="category text-info mt-3">Proyecto #2</h6>
            <h3>MultiSectorial Fases I y II</h3>
            <p class="text-justify">
              Multisectorial, enfrentándose al desafío de manejar grandes lotes de ropa subastados por Costco Wholesale, se encontró con un problema significativo en el análisis 
              de los manifiestos de los lotes. Estos documentos contenían información valiosa pero dispersa y sin estandarización, dificultando la categorización de las marcas, 
              temporadas y tipos de prendas.Para resolver este desafío, se implementó un sistema de dos fases, diseñado y desarrollado por Gryphos Consulting, utilizando un modelo 
              de GPT adaptado y entrenado con información supervisada por el cliente.</br></br>En la <strong>Fase 1</strong>, el sistema, mediante el procesamiento de lenguaje natural (NLP), enriquecía 
              y estandarizaba la data de los manifiestos, convirtiendo la información desordenada en un formato estructurado y fácil de analizar.</br></br>En la <strong>Fase 2</strong>, con los datos ya 
              estructurados, se creó un sistema de reportes que clasificaba y evaluaba los manifiestos según criterios preestablecidos. Este reporte permitía a Multisectorial realizar 
              decisiones informadas de manera expedita, optimizando la selección y compra de lotes basada en datos concretos y relevantes.</br></br>Este proyecto no solo mejoró 
              significativamente la eficiencia en el proceso de toma de decisiones en Multisectorial, sino que también permitió una gestión más efectiva de los inventarios, un factor 
              crítico en el competitivo mercado de la moda al por mayor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5 py-5">
  <div class="container">
    <div class="row justify-content-center text-center my-sm-5">
      <div class="col-lg-6">
        <h2 class="text-dark mb-4">Hoy es el día para transformar tu visión empresarial en realidad.</h2> <!-- Aumenté el margen inferior a mb-4 -->
        <p class="lead mt-4">Estamos listos para llevar tu negocio al siguiente nivel, combinando innovación y estrategia para sorprender a tus clientes y destacar en el mercado.</p> <!-- Añadí un margen superior mt-4 -->
      </div>
    </div>
  </div>
</section>

</div>

{% endblock content %}

{% block javascripts %}

<!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
<script src="{% static 'js/plugins/countup.min.js' %}"></script>
<script src="{% static 'js/plugins/choices.min.js' %}"></script>
<script src="{% static 'js/plugins/prism.min.js' %}"></script>
<script src="{% static 'js/plugins/highlight.min.js' %}"></script>
<!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
<script src="{% static 'js/plugins/rellax.min.js' %}"></script>
<!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
<script src="{% static 'js/plugins/tilt.min.js' %}"></script>
<!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
<script src="{% static 'js/plugins/choices.min.js' %}"></script>


<script type="text/javascript">

  if (document.getElementById('state1')) {
    const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
    if (!countUp.error) {
      countUp.start();
    } else {
      console.error(countUp.error);
    }
  }
  if (document.getElementById('state2')) {
    const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
    if (!countUp1.error) {
      countUp1.start();
    } else {
      console.error(countUp1.error);
    }
  }
  if (document.getElementById('state3')) {
    const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
    if (!countUp2.error) {
      countUp2.start();
    } else {
      console.error(countUp2.error);
    };
  }
</script>

{% endblock javascripts %}
